<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vendors/angular.min.js"></script>
    <script src="scripts/client.js"></script>
    <title>NG Intro</title>
</head>
<body ng-app="myApp">
    <header>
        <h1>NG Intro</h1>
    </header>
    <!-- controller as [nickname/initials] -->
    <main ng-controller="GamesController as GC"> 
        <h3>What games do you dig?</h3>
        <!-- the input creates an object and sets the value to property newGame -->
        <input type="text" ng-model="GC.newGame">
        <!-- This expression two way binds so it shows up instantly without needing to write scripts -->
        <p>{{ GC.newGame }}</p>
        <!-- on click run a function called getGame() -->
        <button ng-click="GC.getGame()">Get Game</button>
        <h1>All the games</h1>
        <!-- displays an empty array and adds the games as they are added to the array -->
        <!-- <p>{{ GC.allGames }}</p> -->
        <!-- Loops through the array and creates a p tag for each item in the array -->
        <p ng-repeat="game in GC.allGames">{{ game }}</p>
    </main>
    <footer>

    </footer>
</body>
</html>